body {
    text-align: center;
}

header h1 {
    font-size: 72px;
    margin: 0px;
    margin-bottom: 20px;
    text-decoration: underline;
    color: deeppink;
}

.instructions {
    font-size: 72px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    margin-bottom: 30px;
}

.instructions span {
    color: white;
    background: blue;
    padding: 10px;
    border-radius: 10%;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 10px;
}

.instructions span:hover {
    box-shadow: inset 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}